button {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  background-color: var(--green);
  border: none;
  color: var(--white);
  font-size: 24px;
}

button:active {
  box-shadow: 0 0px 4px black;
  transform: scale(0.95);
}
